
.vs/MySQL_DDL/v16/.suo
.vs/MySQL_DDL/DesignTimeBuild/.dtbcache.v2
obj/Debug/netcoreapp3.0/MySQL_DDL.csprojAssemblyReference.cache
.vs/MySQL_DDL/v16/.suo
*.cache
obj/MySQL_DDL.csproj.nuget.dgspec.json
obj/MySQL_DDL.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/MySQL_DDL/v16/.suo
.vs/MySQL_DDL/v16/.suo
bin/Debug/netcoreapp3.0/MySQL_DDL.dll
bin/Debug/netcoreapp3.0/MySQL_DDL.exe
bin/Debug/netcoreapp3.0/MySQL_DDL.pdb
bin/Debug/netcoreapp3.0/MySQL_DDL.runtimeconfig.dev.json
obj/Debug/netcoreapp3.0/MySQL_DDL.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/MySQL_DDL.dll
obj/Debug/netcoreapp3.0/MySQL_DDL.exe
obj/Debug/netcoreapp3.0/MySQL_DDL.pdb
.vs/MySQL_DDL/DesignTimeBuild/.dtbcache.v2
.vs/MySQL_DDL/v16/.suo
.vs/MySQL_DDL/v16/.suo
bin/Debug/netcoreapp3.0/MySQL_DDL.dll
bin/Debug/netcoreapp3.0/MySQL_DDL.pdb
obj/Debug/netcoreapp3.0/MySQL_DDL.csprojAssemblyReference.cache
*.cache
*.dll
*.pdb
.vs/MySQL_DDL/v16/.suo
*.pdb
*.dll
*.cache
*.pdb
*.dll
*.v2
.vs/MySQL_DDL/v16/.suo
